In [1]:
# import libraries
import pandas as pd

In [2]:
# find encoding stytle
with open('youtube_dataset.csv') as f:
    print(f.encoding)

cp1252

In [3]:
#Load Dataset
raw_df=pd.read_csv('./youtube_dataset.csv', encoding='cp1252')
raw_df.head()

,web-scraper-order,web-scraper-start-url,userID,userID-href,name,uploads,subscribers,videoviews,country,channeltype,usercreated,grade,YouTube_Link,YouTube_Link-href,TwitterHandle,TwitterHandle-href,InstagramHandle,InstagramHandle-href,MonthlyEarnings,YearlyEarnings
0,1553043067-5148,https://socialblade.com/youtube/top/5000/mosts...,PewDiePie,https://socialblade.com/youtube/c/pewdiepie,PewDiePie,3779,90210848,20772365682,US,Entertainment,"Apr 29th, 2010",A,NaN,https://youtube.com/channel/UC-lHJZR3Gqxm24_Vd...,NaN,https://twitter.com/pewdiepie,NaN,https://instagram.com/pewdiepie,€66.9K - €1.1M,€802.3K - €12.8M
1,1553043063-5147,https://socialblade.com/youtube/top/5000/mosts...,T-Series,https://socialblade.com/youtube/c/tseriesmusic,T-Series,13218,90194329,65092058996,IN,Music,"Mar 13th, 2006",A++,NaN,https://youtube.com/channel/UCq-Fj5jknLsUf-MWS...,NaN,https://instagram.com/tseries.official,NaN,https://plus.google.com/115156822320080163368,€635.6K - €10.2M,€7.6M - €122M
2,1553043059-5146,https://socialblade.com/youtube/top/5000/mosts...,Gaming,https://socialblade.com/youtube/channel/UCOpNc...,Gaming,0,81888222,0,NaN,Games,"Dec 15th, 2013",D-,NaN,https://youtube.com/channel/UCOpNcN46UbXVtpKMr...,NaN,NaN,NaN,https://youtube.com/channel/UCOpNcN46UbXVtpKMr...,€0 - €0,€0 - €0
3,1553043055-5145,https://socialblade.com/youtube/top/5000/mosts...,YouTube Movies,https://socialblade.com/youtube/channel/UClgRk...,YouTube Movies,0,77413743,0,NaN,Film,"Jun 10th, 2015",D-,NaN,https://youtube.com/channel/UClgRkhTL3_hImCAmd...,NaN,NaN,NaN,https://youtube.com/channel/UClgRkhTL3_hImCAmd...,€0 - €0,€0 - €0
4,1553043051-5144,https://socialblade.com/youtube/top/5000/mosts...,Sports,https://socialblade.com/youtube/channel/UCEgdi...,Sports,0,75622870,0,NaN,Sports,"Dec 15th, 2013",D-,NaN,https://youtube.com/channel/UCEgdi0XIXXZ-qJOFP...,NaN,NaN,NaN,https://youtube.com/channel/UCEgdi0XIXXZ-qJOFP...,€0 - €0,€0 - €0

In [4]:
#View Data Types
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3944 entries, 0 to 3943
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   web-scraper-order      3944 non-null   object
 1   web-scraper-start-url  3944 non-null   object
 2   userID                 3944 non-null   object
 3   userID-href            3944 non-null   object
 4   name                   3944 non-null   object
 5   uploads                3944 non-null   int64
 6   subscribers            3944 non-null   int64
 7   videoviews             3944 non-null   int64
 8   country                3650 non-null   object
 9   channeltype            3681 non-null   object
 10  usercreated            3944 non-null   object
 11  grade                  3944 non-null   object
 12  YouTube_Link           59 non-null     object
 13  YouTube_Link-href      3885 non-null   object
 14  TwitterHandle          52 non-null     object
 15  TwitterHandle-href     3334 non-null   object
 16  InstagramHandle        42 non-null     object
 17  InstagramHandle-href   3885 non-null   object
 18  MonthlyEarnings        3944 non-null   object
 19  YearlyEarnings         3944 non-null   object
dtypes: int64(3), object(17)
memory usage: 616.4+ KB

In [5]:
# display channel list
print(list(raw_df.channeltype.unique()))

['Entertainment', 'Music', 'Games', 'Film', 'Sports', 'Howto', 'Education', 'Comedy', nan, 'News', 'People', 'Nonprofit', 'Animals', 'Tech', 'Autos', 'Travel', 'Shows']

In [6]:
# display channel type as list
list(raw_df.channeltype.unique())

['Entertainment',
 'Music',
 'Games',
 'Film',
 'Sports',
 'Howto',
 'Education',
 'Comedy',
 nan,
 'News',
 'People',
 'Nonprofit',
 'Animals',
 'Tech',
 'Autos',
 'Travel',
 'Shows']

In [7]:
# extraction of DATA using function
def slice_data (df, number_of_rows):
    return df.iloc[:number_of_rows]
first_1000 = slice_data(raw_df, 1000)

In [8]:
#print length of extracted data
print(len(first_1000))

1000

In [9]:
# distribution of channel type
channel_dist = {}

def dist(t):
    for x in t:
        channel_dist[x] = channel_dist.get(x,0) + 1

distrubition = dist(first_1000.channeltype)

In [10]:
# display distribution
print(channel_dist)

{'Entertainment': 284, 'Music': 240, 'Games': 115, 'Film': 36, 'Sports': 17, 'Howto': 49, 'Education': 30, 'Comedy': 76, nan: 38, 'News': 17, 'People': 72, 'Nonprofit': 1, 'Animals': 2, 'Tech': 19, 'Autos': 3, 'Travel': 1}

In [11]:
# display distribution as list
channel_dist

{'Entertainment': 284,
 'Music': 240,
 'Games': 115,
 'Film': 36,
 'Sports': 17,
 'Howto': 49,
 'Education': 30,
 'Comedy': 76,
 nan: 38,
 'News': 17,
 'People': 72,
 'Nonprofit': 1,
 'Animals': 2,
 'Tech': 19,
 'Autos': 3,
 'Travel': 1}

In [12]:
# channel distribution df
channel_dist_df= pd.DataFrame(list(channel_dist.items()),columns = ['ChannelType','Count']) 
channel_dist_df

      ChannelType  Count
0   Entertainment    284
1           Music    240
2           Games    115
3            Film     36
4          Sports     17
5           Howto     49
6       Education     30
7          Comedy     76
8             NaN     38
9            News     17
10         People     72
11      Nonprofit      1
12        Animals      2
13           Tech     19
14          Autos      3
15         Travel      1

In [13]:
# create new CSV
first_1000.to_csv(r'E:/Users/SYS/Documents/youtube1000.csv', index = False)

In [14]:
# Load  and display new CSV
new_df_1000 = pd.read_csv('E:/Users/SYS/Documents/youtube1000.csv')
new_df_1000.head(10)

,web-scraper-order,web-scraper-start-url,userID,userID-href,name,uploads,subscribers,videoviews,country,channeltype,usercreated,grade,YouTube_Link,YouTube_Link-href,TwitterHandle,TwitterHandle-href,InstagramHandle,InstagramHandle-href,MonthlyEarnings,YearlyEarnings
0,1553043067-5148,https://socialblade.com/youtube/top/5000/mosts...,PewDiePie,https://socialblade.com/youtube/c/pewdiepie,PewDiePie,3779,90210848,20772365682,US,Entertainment,"Apr 29th, 2010",A,NaN,https://youtube.com/channel/UC-lHJZR3Gqxm24_Vd...,NaN,https://twitter.com/pewdiepie,NaN,https://instagram.com/pewdiepie,€66.9K - €1.1M,€802.3K - €12.8M
1,1553043063-5147,https://socialblade.com/youtube/top/5000/mosts...,T-Series,https://socialblade.com/youtube/c/tseriesmusic,T-Series,13218,90194329,65092058996,IN,Music,"Mar 13th, 2006",A++,NaN,https://youtube.com/channel/UCq-Fj5jknLsUf-MWS...,NaN,https://instagram.com/tseries.official,NaN,https://plus.google.com/115156822320080163368,€635.6K - €10.2M,€7.6M - €122M
2,1553043059-5146,https://socialblade.com/youtube/top/5000/mosts...,Gaming,https://socialblade.com/youtube/channel/UCOpNc...,Gaming,0,81888222,0,NaN,Games,"Dec 15th, 2013",D-,NaN,https://youtube.com/channel/UCOpNcN46UbXVtpKMr...,NaN,NaN,NaN,https://youtube.com/channel/UCOpNcN46UbXVtpKMr...,€0 - €0,€0 - €0
3,1553043055-5145,https://socialblade.com/youtube/top/5000/mosts...,YouTube Movies,https://socialblade.com/youtube/channel/UClgRk...,YouTube Movies,0,77413743,0,NaN,Film,"Jun 10th, 2015",D-,NaN,https://youtube.com/channel/UClgRkhTL3_hImCAmd...,NaN,NaN,NaN,https://youtube.com/channel/UClgRkhTL3_hImCAmd...,€0 - €0,€0 - €0
4,1553043051-5144,https://socialblade.com/youtube/top/5000/mosts...,Sports,https://socialblade.com/youtube/channel/UCEgdi...,Sports,0,75622870,0,NaN,Sports,"Dec 15th, 2013",D-,NaN,https://youtube.com/channel/UCEgdi0XIXXZ-qJOFP...,NaN,NaN,NaN,https://youtube.com/channel/UCEgdi0XIXXZ-qJOFP...,€0 - €0,€0 - €0
5,1553043047-5143,https://socialblade.com/youtube/top/5000/mosts...,5-Minute Crafts,https://socialblade.com/youtube/channel/UC295-...,5-Minute Crafts,2850,52039165,12853732711,US,Howto,"Nov 15th, 2016",A+,NaN,https://youtube.com/channel/UC295-Dw_tDNtZXFeA...,NaN,https://www.facebook.com/5min.crafts/,NaN,https://instagram.com/5.min.crafts/,€124.5K - €2M,€1.5M - €23.9M
6,1553043043-5142,https://socialblade.com/youtube/top/5000/mosts...,Canal KondZilla,https://socialblade.com/youtube/c/kondzilla,Canal KondZilla,995,47785398,23658901687,BR,Music,"Mar 21st, 2012",A+,NaN,https://youtube.com/channel/UCffDXn7ycAzwL2LDl...,NaN,https://instagram.com/kondzilla,NaN,https://plus.google.com/110909183257361061369,€120.4K - €1.9M,€1.4M - €23.1M
7,1553043039-5141,https://socialblade.com/youtube/top/5000/mosts...,SET India,https://socialblade.com/youtube/c/set-india,SET India,29688,43974122,30601562478,IN,Entertainment,"Sep 20th, 2006",A++,NaN,https://youtube.com/channel/UCpEhnqL0y41EpW2Tv...,NaN,https://twitter.com/sonyliv,NaN,https://plus.google.com/109225915636771502428,€318.3K - €5.1M,€3.8M - €61.1M
8,1553043035-5140,https://socialblade.com/youtube/top/5000/mosts...,Justin Bieber,https://socialblade.com/youtube/c/justinbieber,Justin Bieber,132,43878072,603895308,CA,Entertainment,"Jan 15th, 2007",B,NaN,https://youtube.com/channel/UCIwFjwMjI0y7PDBVE...,NaN,https://instagram.com/justinbieber,NaN,https://plus.google.com/114501909900126662096,€319 - €5.1K,€3.8K - €61.3K
9,1553043027-5138,https://socialblade.com/youtube/top/5000/mosts...,Cocomelon - Nursery Rhymes,https://socialblade.com/youtube/c/cocomelon,Cocomelon - Nursery Rhymes,408,40551419,22962398422,US,Education,"Sep 1st, 2006",A++,NaN,https://youtube.com/channel/UCbCmjCuTUZos6Inko...,NaN,https://twitter.com/abckidtv,NaN,https://plus.google.com/117230391529580926061,€567.6K - €9.1M,€6.8M - €109M